@import '~normalize.css';

$text: white;
$base: #121212;
$primary: #3498db;

$card: lighten($base, 5%);
$footer: lighten($base, 10%);

html, body {
    background: $base;
    min-height: 100vh;
}

body {
    color: $text;
    font-family: 'Nunito', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 425px;
    max-width: 100%;

    margin: 1.5rem;
    margin-top: calc(1.5rem + (150px / 2));

    background: $card;
    border-radius: 4px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);

    .avatar {
        display: inline-block;

        img {
            max-width: 100%;
            margin-top: -50%;
            border-radius: 50%;
            box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .card-body-avatar {
        padding-top: 0 !important;
    }

    .card-body, .card-footer {
        padding: 1.5rem 1.25rem;
        text-align: center;
    }

    .card-footer {
        background: $footer;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

h1 {
    color: $primary;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-bottom: 0;
    font-size: 1.25rem;
    text-align: center;
}

hr {
    margin: .8rem;
    border-color: rgba($card, .1);
}

.btn {
    color: $text;
    text-decoration: none;
    
    border-radius: 4px;
    display: inline-block;

    margin: .25rem;
    padding: .8rem 1.25rem;
    
    transition: background-color .2s ease-in-out;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

    svg {
        margin-right: .25rem;
    }

    &:hover {
        transform: translateY(-1px);
    }

    &.btn-twitter {
        background: #1da1f2;

        &:hover {
            background: lighten(#1da1f2, 5%);
        }
    }

    &.btn-linkedin {
        background: #0077b5;

        &:hover {
            background: lighten(#0077b5, 5%);
        }
    }

    &.btn-github {
        background: black;

        &:hover {
            background: lighten(black, 5%);
        }
    }
}

.email {
    opacity: .8;
    margin-top: 1rem;

    a {
        color: $text;
        font-weight: bold;
        text-decoration: none;
    }
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
